h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 85px;
}
h2, .h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto; 
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  text-decoration: none; 
  color: white; 
}
p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
}
.Home {
  color: white;
}

.Intro {
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 160px;
  width: 900px;
}

.Disclaimer {
  margin-left: 150px;
  margin-top: 110px;
  width: 900px;
  
}

#home-arrow {
  margin-left: 500px;
  margin-top: -70px;
}

.styled-image {
  width: 65px;
  animation: moveBackAndForth 1.7s infinite ; /* Apply the animation */
}

@keyframes moveBackAndForth {
  0% {
    transform: translateX(0); /* Start at original position */
  }
  50% {
    transform: translateX(100px); /* Move 100px to the right */
  }
  70% {
    transform: translateX(0px); /* Move 100px to the right */
  }
  75% {
    transform: translateX(10px); /* Move 100px to the right */
  }  
  80% {
    transform: translateX(0px); /* Move 100px to the right */
  }
  85% {
  transform: translateX(10px); /* Move 100px to the right */
  }  
  100% {
      transform: translateX(0px); /* Move 100px to the right */
  }
}


.Survey {
  color: white;
}

.Results {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
