h1 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
}


h2, .h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto; 
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  text-decoration: none; 
  color: white; 
  margin-top: 15px;
}
p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
}
ul {
  margin-top: 0px;
}
.Home {
  color: white;
}

.Intro {
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 190px;
  width: 900px;
}
.Welcome {
  animation: fadeIn1 .5s;
}
.Desc {
  animation: fadeIn2 1s;
}
.Disclaimer {
  animation: fadeIn3 1.5s;
}
.Results {
  margin-left: 70px;
  margin-top: 40px;
}

.Disclaimer {
  margin-left: 150px;
  margin-top: 110px;
  width: 900px;
  
}

#home-arrow {
  margin-left: 480px;
  margin-top: -60px;
}

.styled-image {
  width: 65px;
  animation: moveBackAndForth 1.7s infinite ; /* Apply the animation */
}

@keyframes moveBackAndForth {
  0% {
    transform: translateX(0); /* Start at original position */
  }
  50% {
    transform: translateX(60px); /* Move 100px to the right */
  }
  100% {
      transform: translateX(0px); /* Move 100px to the right */
  }
}
.Survey {
  color: white;
}
.question {
  margin-left: 80px;
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto; 
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  text-decoration: none; 
  color: white; 
  margin-top: 15px;


}

.Results {
  color: white;
}

.nav-link:hover {
  color: rgb(214, 226, 228);
}

/* swipe-right-enter and swipe-right-enter-active represent the entering transition */
.swipe-right-enter {
  opacity: 0;
  transform: translateX(100%);
}
.swipe-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

/* swipe-right-exit and swipe-right-exit-active represent the exiting transition */
.swipe-right-exit {
  opacity: 1;
  transform: translateX(0);
}
.swipe-right-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

.survey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh; /* Ensure the container takes up the full height of the viewport */
  position: relative;
}

.question-container {
  width: 100%;
  padding: 20px; /* Add padding to prevent text from touching the edges */
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px; /* Add padding for spacing */
  position: absolute;
  bottom: 50px; /* Position the buttons at the bottom */
}

.rounded-line {
  width: 65%;      /* Adjust the width as needed */
  height: 15px;     /* Adjust the height as needed */
  background-color: white;  /* Adjust the color as needed */
  border-radius: 15px;   /* Half of the height for fully rounded edges */
  margin-top: 95px;
  position: relative;
}
.top-line {
  position: absolute;
  border-radius: 15px;   /* Half of the height for fully rounded edges */
  /* Style for the top line */
  background-color: #2a3d838a; /* Change color for the top line */
  width: 50%;      /* Adjust the width as needed */
  height: 15px;   
  transition: width 0.5s ease-in-out; 
}

.survey-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.survey-left {
  margin-left: 70px;
}

.survey-right {
  margin-right: 70px;
}


.question h2 label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.question h2 input[type="radio"] {
  display: none; /* Hide the default radio button */
}

.question h2 input[type="radio"] + span {
  position: relative;
  padding-left: 50px;
  display: inline-block;
  cursor: pointer;
  font-size: 1.2em;
}

.question h2 input[type="radio"] + span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px; /* Adjusted size */
  height: 30px; /* Adjusted size */
  border-radius: 50%;
  border: 2px solid #4c61af8a; /* Border color */
  background-color: #fff; /* Background color */
}

.question h2 input[type="radio"]:checked + span::before {
  background-color: #5c72c36b; /* Custom color for checked state */
  border: 2px solid #5c72c36b; /* Border color for checked state */
}

.question h2 input[type="radio"]:checked + span::after {
  content: '';
  position: absolute;
  left: 10px; /* Adjusted for new size */
  top: 50%;
  transform: translateY(-50%);
  width: 15px; /* Adjusted size */
  height: 15px; /* Adjusted size */
  border-radius: 50%;
  background-color: #fff; /* Inner circle color */
}

.question-counter {
  color: white;
}

.resultTitle {
  animation: fadeIn1 .5s;
}

.scores {
  width: 80vw; /* 70% of the viewport width */
  padding-bottom: 35px;
  animation: fadeIn2 1s;
}

.scoreGrid {
  display: flex;
  flex-wrap: wrap;
}

.score {
  width: 30%; /* Each item takes up 30% of the container width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 10px; /* Optional: Add some padding around each item */
  margin-top: 20px;
  margin-bottom: 10px; /* Optional: Add some space between rows */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content to the bottom */
  min-height: 150px; /* Set a minimum height for all items to align bottoms */
  font-family: "Raleway", sans-serif;
}

.wholeNum {
  font-size: 90px;
}

.halfNum {
  font-size: 50px;
}

.wholeDesc, .halfDesc {
  font-size: 20px;
}

.halfDesc {
  margin-top: 10px;
}

.Why {
  animation: fadeIn3 1.5s;
}
.explanation {
  margin-top: -25px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  animation: fadeIn3 1.5s;

}

.featuresList {
  font-size: 10;
  margin-top: 15px;
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  animation: fadeIn4 2s;
}

dd {
  display: list-item;
  list-style-type: "-->";
  padding-inline-start: 1ch;
}

.navLink {
  float: right;
  color: white;
  margin-right: 50px;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  animation: fadeIn5 2.5s;
}

.navLink:hover {
  color: rgb(212, 221, 242);
  font-size: 31px;
  text-decoration: none;
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  20% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  30% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn4 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  40% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn5 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}